<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="hash" content="<%= compilation.getStats().hash %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Kimi PWA for iOS">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="<%= require('./img/icon.png') %>" type="image/png">
  <link rel="apple-touch-icon" sizes="192x192" href="<%= require('./img/icon.png') %>" type="image/png">
  <link rel="apple-touch-startup-image" href="<%= require('./img/launch.png') %>">
</head>
<body>
  <h1>Welcome to my service-worker !!!</h1>
  <div id="main"></div>
  <img src="<%= require('./img/icon.png') %>"/>
</body>
</html>
